{% extends "base.html" %}
{% load static %}
{% block content %}


<body class="home page page-template page-template-template-portfolio page-template-template-portfolio-php">
	<div id="page">
		<div class="container">
		<!-- #masthead -->
		<div id="content" class="site-content">
			<div id="primary" class="content-area column full">
				<main id="main" class="site-main">
					{% for about in about %}
					<article class="hentry">
						<header class="entry-header">
						  <h1 class="entry-title">{{about.title}}</h1>	
						</header>
						<!-- .entry-header -->

						<div class="entry-content">
							<p><img style="border:10px solid #f4f5f6" src="{{about.image.url}}" alt="bg5" width="430" class="alignright" alt="image"></p>
							<p>{{about.description}}</p>
							{% comment %} <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p> {% endcomment %}
							<h2 style="font-family: 'Herr Von Muellerhoff';color:#ccc;font-weight:300;">Yours, Shay Mamosebetsi Kekae</h2>
						</div><!-- .entry-content -->
					</article>
				{% endfor %}
				</main>
				<!-- #main -->
			</div>
			<!-- #primary -->
		</div>
		<!-- #content -->
	</div>
	
</div>

</body>


{% endblock %}



