{% extends "base.html" %}
{% load static %}
{% block content %}
<body class="home page page-template page-template-template-portfolio page-template-template-portfolio-php">
<div id="page">
	<div class="container">
	
		
		
		<div id="content" class="site-content">
			<div id="primary" class="content-area column two-thirds single-portfolio">
				<main id="main" class="site-main">
					<div class="nav-buttons" style="margin: 6px; padding: 3px; display: flex; gap: 10px;">
						<!-- Delete Button -->
						<a href="{% url 'delete' 'blog' blog.id %}" class="btn btn-danger" style="color: white;">Delete</a>
					
						<!-- Update Button -->
						<a href="{% url 'update' 'blog' blog.id %}" class="btn btn-primary" style="color: white;">Update</a>
					</div>
					<article class="portfolio hentry">
						<header class="entry-header">
							<div class="entry-thumbnail">
								<img width="800" height="533" src="{{ blog.image.url }}" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="pic"/>
							</div>
						<h1 class="entry-title">{{blog.title}}</h1>
						
						</header>
						<div class="entry-content">
							
							<blockquote>
								<p>
									{{blog.content}}
								</p>
							</blockquote>
							<ul>
								{% for cat in category %}
									<li>
										<a href=""></a>
										{% comment %} <a href="{% url 'blog_by_category' cat.slug %}"> {% endcomment %}
											{{ cat.month }}/{{ cat.venue }}/{{ cat.race }} KM
										{% comment %} </a> {% endcomment %}
									</li>
								{% endfor %}
							</ul> 
							
						</div>
					</article>
				
				
				
				</main>
				<!-- #main -->
			</div>
			
			<!-- #primary -->
			
			{% comment %} <div id="secondary" class="column third">
				<div class="widget-area">
					<aside class="widget">
						<h4 class="widget-title">Request similar project</h4>
						<form class="wpcf7" method="post" action="contact.php" id="contactform">
							<div class="form">
								<p><input type="text" name="name" placeholder="Name *"></p>
								<p><input type="text" name="email" placeholder="E-mail Address *"></p>
								<p><textarea name="comment" rows="3" placeholder="Message *"></textarea></p>
								<input type="submit" id="submit" class="clearfix btn" value="Send">
							</div>
						</form>
						<div class="done">								
							Your message has been sent. Thank you!
						</div>
					</aside>
				</div>
			</div> {% endcomment %}
		</div>
		<!-- #content -->
	</div>
	

</body>
{% endblock %}